* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #e9e9e9;
  padding: 10px 0;
}

.header-web {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 0 350px;
  justify-content: space-between;
}

.title-sudo {
  color: black;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

.list-nav {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.link-nav {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

.link-nav:hover {
  font-weight: 700;
}

footer {
  background-color: #e9e9e9;
  color: black;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-web {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.list-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.link-footer {
  color: black;
  text-decoration: none;
  font-weight: medium;
  cursor: pointer;
  font-weight: 400;
}

.link-footer:hover {
  font-weight: 700;
}
